{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "uglify": true
        }
      }
    ]
  ],
  "env": {
    "production": {
      "minified": true
    }
  }
}