extends template.pug

block content
    nav.navbar.navbar-expand-md.fixed-top
        a.navbar-brand(href="/") Network Animations
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#siteNavbar", aria-controls="siteNavbar", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #siteNavbar.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item.active.dropdown
                    a#animationsDropdown.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Animations
                    .dropdown-menu(aria-labelledby="animationsDropdown")
                        a.dropdown-item(href="/animations/aimd1.html") Single AIMD Flow 1
                        a.dropdown-item(href="#")
                            | Single AIMD Flow 2
                            span.sr-only (current)
                li.nav-item
                    a.nav-link(href="https://github.com/DABH/network_animations") GitHub
    main(role="main", style="margin-top: 75px;")
        div#aligner
            div#container

    footer.footer
        div.container
            div.float-left
                a(href="#", data-toggle="modal" data-target="#aboutModal", style="color: #006CB8;") About This Animation
            div.float-right
                span.font-weight-bold Controls:&nbsp;
                span Left Arrow = Slow, Down Arrow = Medium, Right Arrow = Fast

    #aboutModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="aboutModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5#aboutModalLabel.modal-title About This Animation
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    p This shows what happens in a router serving a single flow that has no buffering (or rather a single
                        | &nbsp;packet).  The speed of the animation can be controlled using the cursor keys. Left is
                        | slow, down is medium and right is fast. Default speed is medium. The animation will stop after
                        | a few sawteeth.
                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Close