extends template.pug

block content
    nav.navbar.navbar-expand-md.fixed-top
        a.navbar-brand(href="#") Network Animations
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#siteNavbar", aria-controls="siteNavbar", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #siteNavbar.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href="#")
                        | Home
                        span.sr-only (current)
                li.nav-item.dropdown
                    a#animationsDropdown.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Animations
                    .dropdown-menu(aria-labelledby="animationsDropdown")
                        a.dropdown-item(href="/network_animations/animations/aimd1.html") Single AIMD Flow 1
                        a.dropdown-item(href="/network_animations/animations/aimd2.html") Single AIMD Flow 2
                li.nav-item
                    a.nav-link(href="https://github.com/DABH/network_animations") GitHub
    main(role="main")
        div.container-fluid
            div.row
                div.col-md-1
                div.col-md-7
                    div.container-fluid
                        div.row
                            div.col-md-12
                                div.jumbotron.shadowed.home-jumbotron
                                    h1.display-3 Network Animations
                                    p.lead Welcome!  This website provides a growing collection of animations demonstrating
                                        | &nbsp;principles of computer networking.  Please browse the demos below,
                                        |and check out information on contributing to this open-source
                                        | animation suite.
                        div.row
                            div.col-md-12
                                h2 All Animations
                                hr
                        div.row
                            a.col-md-4.animation-panel-container(href="/network_animations/animations/aimd1.html")
                                div.jumbotron.animation-panel
                                    span.animation-panel-content-wrapper
                                        span.animation-panel-image-wrapper
                                            img.animation-panel-image(src=require("./img/aimd1.png").default)
                                        span.animation-panel-text-wrapper
                                            h4.animation-panel-header Single AIMD Flow 1
                                            p.animation-panel-description Demonstrates the dynamics of a single AIMD flow
                                                | &nbsp;with a buffer that holds 8 packets.
                            a.col-md-4.animation-panel-container(href="/network_animations/animations/aimd2.html")
                                div.jumbotron.animation-panel
                                    span.animation-panel-content-wrapper
                                        span.animation-panel-image-wrapper
                                            img.animation-panel-image(src=require("./img/aimd2.png").default)
                                        span.animation-panel-text-wrapper
                                            h4.animation-panel-header Single AIMD Flow 2
                                            p.animation-panel-description Demonstrates the dynamics of a single AIMD flow
                                                | &nbsp;with a buffer that holds 1 packet.
                div.col-md-3
                    div.jumbotron.shadowed(style="height: 100%;")
                        h2 Contents
                        ul
                            li
                                a(href="#") Home
                            li
                                a(href="/network_animations/animations/aimd1.html") Single AIMD Flow 1
                            li
                                a(href="/network_animations/animations/aimd2.html") Single AIMD Flow 2
                        h2 Contributing
                        p Please check out&nbsp;
                            a(href="https://github.com/DABH/network_animations") our repository
                            | &nbsp;on GitHub for details on contributing.  We welcome bug reports and suggestions for
                            | new animations.
                        h2 About
                        p Please see README.md on GitHub for information about this project, and see LICENSE.md on
                            | &nbsp;GitHub for license details.
                div.col-md-1

    //footer.footer
    //    div.container
    //        span.text-muted Place sticky footer content here.
